.container{
    width: 50%;
    height: 350px;
    margin: auto;
}

.main{
    text-align: center;
    color: white;
    margin: 5px 0;
    padding: 0 5px;
    align-items: center;
    width: 100%;
}

.Image{
    position: relative;
    text-align: center;
    color: white;
}

.centeredText{
 position:absolute;
 text-align: center;
 color: white;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}





